<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCases.CartFuncationality"/>
      <class name="testCases.SearchAndFiltering"/>
      <class name="testCases.ProductPageFunction"/>
      <class name="testCases.LoginAndRegistration"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
